/dts-v1/;
#include <st/l1/stm32l151Xc.dtsi>
#include <st/l1/stm32l151rctx-pinctrl.dtsi>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

#include "leftmk_l1-pinctrl.dtsi"

// NOTE: We are a category 3 device in the reference manual

/ {
	model = "Left MK STM32l151rc";
	compatible = "leftmk_l1";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,keyboard-scan = &kscan0;
	};

	leds {
		compatible = "gpio-leds";
		led0: ld0 {
			gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
			label = "Key LD0";
		};
		led1: ld1 {
			gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;
			label = "Key LD1";
		};
		led2: ld2 {
			gpios = <&gpioc 2 GPIO_ACTIVE_HIGH>;
			label = "Key LD2";
		};
		led3: ld3 {
			gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
			label = "Key LD3";
		};
		led4: ld4 {
			gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
			label = "Key LD4";
		};
		led5: ld5 {
			gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
			label = "Key LD5";
		};
		caps0: cps0 {
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
			label = "Key Caps";
		};
	};

	kscan0: kscan_0 {
		compatible = "zephyr,gpio-kscan";
		pinctrl-0 = < \
			&kscan_col0 \
			&kscan_col1 \
			&kscan_col2 \
			&kscan_col3 \
			&kscan_col4 \
			&kscan_col5 \
			&kscan_col6 \
			&kscan_row0 \
			&kscan_row1 \
			&kscan_row2 \
			&kscan_row3 \
			&kscan_row4 \
			&kscan_row5 \
			>;
		pinctrl-names = "default";

		col-gpios = <&gpioc 14 (GPIO_ACTIVE_HIGH)>,
			<&gpioc 13 (GPIO_ACTIVE_HIGH)>,
			<&gpioc 12 (GPIO_ACTIVE_HIGH)>,
			<&gpioc 11 (GPIO_ACTIVE_HIGH)>,
			<&gpioc 10 (GPIO_ACTIVE_HIGH)>,
			<&gpioc 9 (GPIO_ACTIVE_HIGH)>,
			<&gpioc 8 (GPIO_ACTIVE_HIGH)>;
		row-gpios = <&gpioa 1 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			<&gpioa 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			<&gpioa 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			<&gpioa 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			<&gpioa 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			<&gpioa 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
	};

	soc {
		usb: usb@40005c00 {
			compatible = "st,stm32-usb";
			reg = <0x40005c00 0x400>;
			interrupts = <20 0>, <19 0>;
			interrupt-names = "usb", "usbhp";
			num-bidir-endpoints = <8>;
			ram-size = <512>;
			clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00800000>;
			status = "okay";
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		led4 = &led4;
		led5 = &led5;
		caps0 = &caps0;
		kscan0 = &kscan0;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "okay";
};

&pll {
	div = <3>; // 4
	mul = <6>; // 8
	/* out of the box, MCO from stlink is not enabled, unlike later discos */
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(32)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "disabled";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "disabled";
	clock-frequency = <I2C_BITRATE_FAST>;
};

zephyr_udc0: &usb {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};
